{% extends 'base.html' %}

{% block style %}
<style>

    .inicio1{
        display: grid;
        justify-content: center;
        align-items: center; 
    }
    .inicio2{
        width: 900px;     
    }

</style>
{% endblock %}

{% block main %}

<!-- ======= Seção Inicial ======= -->
  <section id="hero" class="hero">
    <div class="inicio1">
        <div class="inicio2">
            <h2>Bem vindo ao cadastro de reservas!</h2>
            <br>
            <br>
        </div>
    </div>  
  </section>

  <!-- ======= Seção de Emoções ======= -->
  <section id="portfolio" class="portfolio sections-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Reservas cadastradas</h2>
      </div>

      <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4 portfolio-container">

          {% for reserva in reservas %}
          <div class="col-xl-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <a href="" data-gallery="portfolio-gallery-app" class="glightbox">
                {% if reserva.imagem %}
                <img src="{{ reserva.imagem.url }}" class="img-fluid" alt="">
                {% endif %}
              </a>
              <div class="portfolio-info">
                <h4><a href="" title="More Details">Nome da empresa: {{ reserva.nome_empresa }}</a></h4>
                <h4><a href="" title="More Details">Categoria da empresa: {{ reserva.categoria_empresa }} </a></h4>
                <td>
                  <a href="{% url 'editar' id=reserva.id %}" class="btn btn-primary btn-sm">Editar</a>
                  <a href="{% url 'deletar' id=reserva.id %}" class="btn btn-danger btn-sm">Remover</a>
                  <a href="{% url 'detalhar' id=reserva.id %}" class="btn btn-primary btn-sm" style="background-color: black; border-color: black;">Detalhar</a>
                </td>
              </div>
            </div>
          </div><!-- End Item -->
          {% endfor %}

          <div class="col-xl-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <a href="" data-gallery="portfolio-gallery-app" class="glightbox">
                <img src="" class="img-fluid" alt="">
              </a>
              <div class="portfolio-info">
                <h4><a href="" title="More Details">Nome da empresa: Claro</a></h4>
                <h4><a href="" title="More Details">Categoria da empresa: Telecomunicações </a></h4>
              </div>
            </div>
          </div><!-- End Item -->

          <div class="col-xl-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <a href="" data-gallery="portfolio-gallery-app" class="glightbox">
                <img src="" class="img-fluid" alt="">
              </a>
              <div class="portfolio-info">
                <h4><a href="" title="More Details">Nome da empresa: Brisanet</a></h4>
                <h4><a href="" title="More Details">Categoria da empresa: Telecomunicações </a></h4>
              </div>
            </div>
          </div><!-- End Item -->

        </div>
      </div>
    </div>
  </section><!-- End Section -->

{% endblock %}