{% extends 'base.html' %}

{% block main %}
<div style="display: flex; justify-content: center; padding-top: 20px;">
  <div class="card text-center" style="width: 500px; justify-content: center;">
    <div class="card-header">
      <h5>INFORMAÇÕES</h5>
    </div>
    <div class="card-body">
      <p class="card-text">Nome da empresa: {{ object.nome_empresa }}</p>
      <p class="card-text">Categoria: {{ object.categoria_empresa }}</p>
      <p class="card-text">Cnpj: {{ object.cnpj }}</p>
      <p class="card-text">Localização: {{ object.stand.localizacao }}</p>
      <p class="card-text">Valor: {{ object.stand.valor }}</p>
      <p class="card-text">Quitado: {% if object.quitado %} Sim {% else %} Não {% endif %} </p>

    </div>
    <div class="card-footer text-muted">
        <br>
    </div>
</div>

</div>

{% endblock %}